*.iml
.gradle
.gradle-user
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.vscode/
.gitdata/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
smart-contracts/node_modules
smart-contracts/cache
smart-contracts/artifacts
smart-contracts/.env
